---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Hablemos sobre mi";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Soy Miguel Pitarch, desde pequeño que me gusta la tecnología, he estado trabajando en el mundo de la programación desde hace unos años, y desde entonces he estado aprendiendo y mejorando mi habilidad en la programación, y en la tecnología en general.</h2>
</BaseLayout>

