---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<nav>
            <a href="/">Inicio</a>
            <a href="/about">Sobre mí</a>
            <a href="/blog">Blog</a>
        </nav>

		<h1>Esta página es un blog.</h1>
		<h2>Empezaremos a darle forma a este blog</h2>
	</body>
</html>
