---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Espacio para blog personal";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Empezaremos a darle forma a este blog</h2>

	<ul class="blog">
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
