---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Espacio para blog personal";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Empezaremos a darle forma a este blog</h2>

	<ul class="blog">
		<li><a href="/posts/post-1">Mi primera publicación</a></li>
		<li><a href="/posts/post-2">Mi segunda publicación</a></li>
		<li><a href="/posts/post-3">Mi tercera publicación</a></li>
	</ul>
</BaseLayout>
